[submodule "third_party/aloha"]
	path = third_party/aloha
	url = https://github.com/Physical-Intelligence/aloha.git
[submodule "third_party/libero"]
	path = third_party/libero
	url = https://github.com/Lifelong-Robot-Learning/LIBERO.git
[submodule "src/naviai_inference"]
	path = src/naviai_inference
	url = https://github.com/AddisionHarry/NAVIAI-ModelInference.git
