<launch>
    <arg name="use_robot_type" default="H1_Pro" />
    <arg name="step_frequency" default="300" />
    <arg name="use_gdb" default="false" />
    <arg name="command_frequency" default="300" />
    <arg name="control_wheeled_robot_move" default="false" />
    <arg name="target_ip" default="192.168.88.100" />

    <group if="$(eval arg('use_robot_type') == 'WA1_0303')">
        <group if="$(arg use_gdb)">
            <node name="teleoperation_communication_robot_node" pkg="naviai_udp_comm"
                  type="naviai_udp_comm_wa1_0303_node" output="screen"
                  launch-prefix="gdb -ex run --args ">
                <param name="use_given_target_ip" value="true" />
                <param name="target_ip" value="$(arg target_ip)" />
                <param name="step_frequency" value="$(arg step_frequency)" />
                <param name="command_frequency" value="$(arg command_frequency)" />
                <param name="use_robot_type" value="$(arg use_robot_type)" />
                <param name="control_wheeled_robot_move" value="$(arg control_wheeled_robot_move)" />
            </node>
        </group>
        <group unless="$(arg use_gdb)">
            <node name="teleoperation_communication_robot_node" pkg="naviai_udp_comm"
                  type="naviai_udp_comm_wa1_0303_node" output="screen">
                <param name="use_given_target_ip" value="true" />
                <param name="target_ip" value="$(arg target_ip)" />
                <param name="step_frequency" value="$(arg step_frequency)" />
                <param name="command_frequency" value="$(arg command_frequency)" />
                <param name="use_robot_type" value="$(arg use_robot_type)" />
                <param name="control_wheeled_robot_move" value="$(arg control_wheeled_robot_move)" />
            </node>
        </group>
    </group>

    <group if="$(eval arg('use_robot_type') == 'H1_Pro')">
        <group if="$(arg use_gdb)">
            <node name="teleoperation_communication_robot_node" pkg="naviai_udp_comm"
                  type="naviai_udp_comm_h1pro_node" output="screen"
                  launch-prefix="gdb -ex run --args ">
                <param name="use_given_target_ip" value="true" />
                <param name="target_ip" value="$(arg target_ip)" />
                <param name="step_frequency" value="$(arg step_frequency)" />
                <param name="command_frequency" value="$(arg command_frequency)" />
                <param name="use_robot_type" value="$(arg use_robot_type)" />
                <param name="control_wheeled_robot_move" value="$(arg control_wheeled_robot_move)" />
            </node>
        </group>
        <group unless="$(arg use_gdb)">
            <node name="teleoperation_communication_robot_node" pkg="naviai_udp_comm"
                  type="naviai_udp_comm_h1pro_node" output="screen">
                <param name="use_given_target_ip" value="true" />
                <param name="target_ip" value="$(arg target_ip)" />
                <param name="step_frequency" value="$(arg step_frequency)" />
                <param name="command_frequency" value="$(arg command_frequency)" />
                <param name="use_robot_type" value="$(arg use_robot_type)" />
                <param name="control_wheeled_robot_move" value="$(arg control_wheeled_robot_move)" />
            </node>
        </group>
    </group>

    <group if="$(eval arg('use_robot_type') == 'WA2_A2_lite')">
        <group if="$(arg use_gdb)">
            <node name="teleoperation_communication_robot_node" pkg="naviai_udp_comm"
                  type="naviai_udp_comm_wa2_a2_lite_node" output="screen"
                  launch-prefix="gdb -ex run --args ">
                <param name="use_given_target_ip" value="true" />
                <param name="target_ip" value="$(arg target_ip)" />
                <param name="step_frequency" value="$(arg step_frequency)" />
                <param name="command_frequency" value="$(arg command_frequency)" />
                <param name="use_robot_type" value="$(arg use_robot_type)" />
                <param name="control_wheeled_robot_move" value="$(arg control_wheeled_robot_move)" />
            </node>
        </group>
        <group unless="$(arg use_gdb)">
            <node name="teleoperation_communication_robot_node" pkg="naviai_udp_comm"
                  type="naviai_udp_comm_wa2_a2_lite_node" output="screen">
                <param name="use_given_target_ip" value="true" />
                <param name="target_ip" value="$(arg target_ip)" />
                <param name="step_frequency" value="$(arg step_frequency)" />
                <param name="command_frequency" value="$(arg command_frequency)" />
                <param name="use_robot_type" value="$(arg use_robot_type)" />
                <param name="control_wheeled_robot_move" value="$(arg control_wheeled_robot_move)" />
            </node>
        </group>
    </group>
</launch>
